{% extends "base/base.html" %}

{% block Main %}
<div class="container">
    <form id="uploadForm">
        <!-- 文件上传 -->
        <div class="form-group row">
            <label for="fileUpload" class="col-sm-2 col-form-label">File Upload</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" id="fileUpload">
            </div>
        </div>
        <!-- 进度条 -->
        <div class="form-group row">
            <div class="col-sm-2">Upload Progress</div>
            <div class="col-sm-10">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" id="uploadProgress" style="width: 0%;"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div id="uploadStatus"></div>
            </div>
        </div>
        <!--输入框1-->
        <div class="form-group row">
            <label for="inputName3" class="col-sm-2 col-form-label">任务名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName3">
                <div id="nameError3" class="invalid-feedback"></div>
            </div>
        </div>
        <!--输入框2-->
        <div class="form-group row">
            <label for="inputName4" class="col-sm-2 col-form-label">用户替代值</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName4">
                <div id="nameError4" class="invalid-feedback"></div>
            </div>
        </div>
        <!--选项1-->
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                               checked>
                        <label class="form-check-label" for="gridRadios1">
                            First radio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Second radio
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <!--选项2-->
        <div class="form-group row">
            <div class="col-sm-2">Checkbox</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                    </label>
                </div>
            </div>
        </div>
        <!--提交-->
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#fileUpload').on('change', function (event) {
            var file = event.target.files[0];
            var formData = new FormData();
            formData.append('file', file);

            // 清空进度条和状态
            $('#uploadProgress').css('width', '0%').attr('aria-valuenow', 0);
            $('#uploadProgress').empty();
            $('#uploadStatus').empty();
        });

        $('#uploadForm').on('submit', function (event) {
            event.preventDefault();

            // 获取输入框和选项的值
            var inputName = $('#inputName3').val();
            var inputName4 = $('#inputName4').val();
            var radioValue = $('input[name="gridRadios"]:checked').val();
            var checkboxValue = $('#gridCheck1').prop('checked');

            // 验证输入框和文件是否填写
            if (!inputName) {
                $('#inputName3').addClass('is-invalid');
                $('#nameError3').text('Please enter a name');
                return;
            } else {
                $('#inputName3').removeClass('is-invalid');
                $('#nameError3').empty();
            }
            if (!inputName4) {
                $('#inputName4').addClass('is-invalid');
                $('#nameError4').text('Please enter');
                return;
            } else {
                $('#inputName4').removeClass('is-invalid');
                $('#nameError4').empty();
            }

            if (!$('#fileUpload').val()) {
                $('#fileUpload').addClass('is-invalid');
                return;
            } else {
                $('#fileUpload').removeClass('is-invalid');
            }

            // 构建要传递给后端的数据
            var formData = new FormData();
            formData.append('file', $('#fileUpload')[0].files[0]);
            formData.append('input_task_name', inputName); // Assuming inputName contains the task name
            formData.append('input_user_name', inputName4); // Assuming inputName4 contains the user name
            formData.append('radio_value', radioValue);
            formData.append('checkbox_value', checkboxValue);

            // 发送POST请求
            $.ajax({
                url: '/image/fix',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            $('#uploadProgress').css('width', percentComplete + '%');
                            $('#uploadProgress').attr('aria-valuenow', percentComplete);
                            $('#uploadProgress').text(percentComplete + '%');
                        }
                    }, false);
                    return xhr;
                },
                success: function (data) {
                    $('#uploadStatus').text('Upload successful');
                    console.log(formData);
                },
                error: function (error) {
                    $('#uploadStatus').text('Upload failed');
                    console.log(error);
                    console.log(formData);
                }
            });
        });
    });
</script>
{% endblock %}

{% block footer %}
<footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-7 ">
        <div class="container pt-4 ">
            {% include 'base/base_footer2.html' %}
        </div>
    </div>
</footer>
{% endblock %}