{% extends "base/base.html" %}
{% block Main %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for file in files %}
                <a class="nav-link" id="{{ file.id }}-tab" href="/Docs/{{ file.id }}" role="tab"
                   aria-controls="{{ file.id }}" aria-selected="true">{{ file.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="docs-title">
                <h1>Modal</h1>
                <p class="lead mb-0">Use this modal plugin to add dialogs to your site for lightboxes, user
                    notifications, or
                    completely custom content.</p>
                <div class="mt-4">
                    <a href="/Pages/Task" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-external-link mr-2">
                            <path
                                    d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </svg>
                        查看任务进度
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}

{% block footer %}
<footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-7">
        <div class="container pt-4"> {% include 'base/base_footer2.html' %}</div>
    </div>
</footer>
{% endblock %}