{% extends "base/base.html" %}

{% block Main %}
<div class="container">
    <div class="card bg-section-dark border-0 rounded-lg" style="max-width: 100%;">
        <div class="card-body px-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center align-items-center mb-3">
                        <div>
                            <div class="icon icon-sm icon-shape bg-warning text-white rounded-circle mr-3">
                                <i data-feather="airplay"></i>
                            </div>
                        </div>
                        <span class="h6 text-white mb-0">Quick</span>
                    </div>
                    <h5 class="text-white pt-4">Infinite solutions with only one template.</h5>
                    <p class="text-white opacity-8">
                        With an intuitive markup, powerful and lightning fast build tools, Quick has everything you need
                        to
                        turn your ideas into incredible products.
                    </p>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 pr-4 pb-3 d-flex align-items-end justify-content-md-end">
                    <a href="#" class="btn btn-white btn-icon">
                        <span class="btn-inner--text">Learn more</span>
                        <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion-2" class="accordion accordion-spaced">

        <!-- Accordion card 1 -->
        <div class="card">
            <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button"
                 data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>Which license do I need?</h6>
            </div>
            <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
                <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
        </div>

        <!-- Accordion card 2 -->
        <div class="card">
            <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button"
                 data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                <h6 class="mb-0"><i data-feather="unlock" class="mr-3"></i>How do I get access to a theme?</h6>
            </div>
            <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
        </div>

        <!-- Accordion card 3 -->
        <div class="card">
            <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button"
                 data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                <h6 class="mb-0"><i data-feather="folder" class="mr-3"></i>How do I see previous orders?</h6>
            </div>
            <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
                <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
        </div>
        <!-- Accordion card 4 -->
        <div class="card">
            <div class="card-header py-4" id="heading-2-4" data-toggle="collapse" role="button"
                 data-target="#collapse-2-4" aria-expanded="false" aria-controls="collapse-2-4">
                <h6 class="mb-0"><i data-feather="wind" class="mr-3"></i>How do I see previous orders?</h6>
            </div>
            <div id="collapse-2-4" class="collapse" aria-labelledby="heading-2-4" data-parent="#accordion-2">
                <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
        </div>
        <!-- Accordion card 5 -->
        <div class="card">
            <div class="card-header py-4" id="heading-2-5" data-toggle="collapse" role="button"
                 data-target="#collapse-2-5" aria-expanded="false" aria-controls="collapse-2-5">
                <h6 class="mb-0"><i data-feather="wifi" class="mr-3"></i>How do I see previous orders?</h6>
            </div>
            <div id="collapse-2-5" class="collapse" aria-labelledby="heading-2-5" data-parent="#accordion-2">
                <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
        </div>
        <!-- Accordion card 6 -->
        <div class="card">
            <div class="card-header py-4" id="heading-2-6" data-toggle="collapse" role="button"
                 data-target="#collapse-2-6" aria-expanded="false" aria-controls="collapse-2-6">
                <h6 class="mb-0"><i data-feather="youtube" class="mr-3"></i>How do I see previous orders?</h6>
            </div>
            <div id="collapse-2-6" class="collapse" aria-labelledby="heading-2-6" data-parent="#accordion-2">
                <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- 最后联系 -->
    <div class="card shadow-lg border-0" style="max-width: 100%;">
        <div class="card-body px-5 py-5 text-center text-md-left">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h5 class="mb-2">Do you gave any questions about Quick.</h5>
                    <p class="mb-0">
                        Our support team is available for you anytime.
                    </p>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                    <a href="#" class="btn btn-warning btn-icon rounded-pill">
                    <span class="btn-inner--icon">
                        <i data-feather="phone"></i>
                    </span>
                        <span class="btn-inner--text">Contact us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-7 ">
        <div class="container pt-4 ">
            {% include 'base/base_footer2.html' %}
        </div>
    </div>
</footer>
{% endblock %}