{% extends "base/base.html" %}

{% block Main %}
    <div class="container">
        <div class="card bg-section-dark border-0 rounded-lg" style="max-width: 100%;">
            <div class="card-body px-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center align-items-center mb-3">
                            <div>
                                <div class="icon icon-sm icon-shape bg-warning text-white rounded-circle mr-3">
                                    <i data-feather="airplay"></i>
                                </div>
                            </div>
                            <span class="h6 text-white mb-0">快速了解</span>
                        </div>
                        <h5 class="text-white pt-4">常见问题的解答</h5>
                        <p class="text-white opacity-8">
                            在上海九州为科技有限公司，我们相信技术的力量可以开启无限可能。我们不仅提供技术服务，更是您可靠的合作伙伴，一起探索和创造更加智能化的未来。欢迎与我们联系，开启一段激动人心的合作之旅。
                        </p>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 pr-4 pb-3 d-flex align-items-end justify-content-md-end">
                        <a href="#" class="btn btn-white btn-icon">
                            <span class="btn-inner--text">了解更多</span>
                            <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="accordion-2" class="accordion accordion-spaced">

            <!-- Accordion card 1 -->
            <div class="card">
                <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button"
                     data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                    <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>语音克隆技术是如何工作的?</h6>
                </div>
                <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
                    <div class="card-body">
                        <p>我们的语音克隆技术使用深度学习算法来分析特定人声的声音特征，然后复制这些特征以生成新的语音内容。这意味着我们可以创建一个几乎与原始录音相同的声音输出
                            我们严格遵守相关法律法规，并要求所有客户提供明确的使用许可和声音来源的授权。我们强烈反对任何形式的未授权使用和滥用技术</p>
                    </div>
                </div>
            </div>

            <!-- Accordion card 2 -->
            <div class="card">
                <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button"
                     data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                    <h6 class="mb-0"><i data-feather="unlock" class="mr-3"></i>网站爬取服务能获取哪些类型的数据?</h6>
                </div>
                <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                    <div class="card-body">
                        <p>我们的爬虫技术能够获取各种公开可访问的网站数据，包括文本、图片、视频等。我们还可以根据客户的特定需求定制爬虫，以满足更复杂的数据采集需求
                            我们的技术团队严格遵循robots.txt文件的指示，并确保所有爬取活动不会对目标网站的正常运营造成影响。我们致力于实现负责任的数据采集，确保合法合规</p>
                    </div>
                </div>
            </div>

            <!-- Accordion card 3 -->
            <div class="card">
                <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button"
                     data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                    <h6 class="mb-0"><i data-feather="folder" class="mr-3"></i>视频转码服务支持哪些格式?</h6>
                </div>
                <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
                    <div class="card-body">
                        <p>我们支持广泛的视频格式，包括但不限于AVI、MP4、MOV、WMV等。我们的服务能够根据您的需求将视频转换为适合不同设备和平台播放的格式
                            我们使用先进的转码技术确保视频在转换格式的过程中尽可能保持原有的画质和音质。客户可以根据需要选择不同的质量和压缩选项。</p>
                    </div>
                </div>
            </div>
            <!-- Accordion card 4 -->
            <div class="card">
                <div class="card-header py-4" id="heading-2-4" data-toggle="collapse" role="button"
                     data-target="#collapse-2-4" aria-expanded="false" aria-controls="collapse-2-4">
                    <h6 class="mb-0"><i data-feather="wind" class="mr-3"></i>音频转文字的准确率有多高?</h6>
                </div>
                <div id="collapse-2-4" class="collapse" aria-labelledby="heading-2-4" data-parent="#accordion-2">
                    <div class="card-body">
                        <p>我们的音频转文字服务准确率高达98%，但实际准确率可能受到录音质量、说话人的口音、背景噪音等因素的影响。
                            目前我们支持包括英语、中文、日语、韩语等在内的多种语言。我们正在不断扩展我们的语言库，以满足更多客户的需求。 </p>
                    </div>
                </div>
            </div>
            <!-- Accordion card 5 -->
            <div class="card">
                <div class="card-header py-4" id="heading-2-5" data-toggle="collapse" role="button"
                     data-target="#collapse-2-5" aria-expanded="false" aria-controls="collapse-2-5">
                    <h6 class="mb-0"><i data-feather="wifi" class="mr-3"></i>文字转音频服务可以自定义声音吗?</h6>
                </div>
                <div id="collapse-2-5" class="collapse" aria-labelledby="heading-2-5" data-parent="#accordion-2">
                    <div class="card-body">
                        <p>是的，我们提供多种声音选项，包括不同的性别、年龄、口音等。客户还可以选择特定的情感表达，以使生成的音频更加自然和逼真.
                            客户可以根据需要选择多种音频格式，包括但不限于MP3、WAV等。我们的目标是提供灵活的服务以满足不同的应用场景需求。</p>
                    </div>
                </div>
            </div>
            <!-- Accordion card 6 -->
            <div class="card">
                <div class="card-header py-4" id="heading-2-6" data-toggle="collapse" role="button"
                     data-target="#collapse-2-6" aria-expanded="false" aria-controls="collapse-2-6">
                    <h6 class="mb-0"><i data-feather="youtube" class="mr-3"></i>如何开始使用上海九州为科技有限公司的服务?
                    </h6>
                </div>
                <div id="collapse-2-6" class="collapse" aria-labelledby="heading-2-6" data-parent="#accordion-2">
                    <div class="card-body">
                        <p>开始使用我们的服务非常简单。请按照以下步骤操作：
                            <br>
                            1.联系我们：通过我们的官方网站、电子邮件或电话与我们联系。我们的客户服务团队全天候待命，随时准备回答您的疑问和需求。
                            <br>
                            2.需求讨论：我们会与您详细讨论您的具体需求，包括服务类型、项目规模、期望的成果等，以确保我们完全理解您的目标。
                            <br>
                            3.方案和报价：基于讨论的内容，我们的技术团队将制定一个定制化的解决方案，并提供相应的报价。我们致力于提供性价比高的服务。
                            <br>
                            4.合作协议：双方就服务细节、交付时间、费用等达成一致后，将签署合作协议。我们承诺在整个合作过程中保持高度的透明度和沟通。
                            <br>
                            5.项目实施：我们的专业团队将开始执行项目，期间我们会保持密切沟通，确保项目按照您的要求完成</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- 最后联系 -->
        <div class="card shadow-lg border-0" style="max-width: 100%;">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="mb-2">还有其他未解答问题?</h5>
                        <p class="mb-0">
                            以上FAQ旨在为客户提供关于上海九州为科技有限公司提供的服务的基本信息。如果您有更具体的问题或需求，请不要犹豫，直接联系我们以获得更详细的解答和支持
                            任何时间,任何地点,点击右侧联系我们,向我们发送问题吧
                        </p>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                        <a href="/Docs/tag1" class="btn btn-warning btn-icon rounded-pill">
                    <span class="btn-inner--icon">
                        <i data-feather="phone"></i>
                    </span>
                            <span class="btn-inner--text">联系我们</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 ">
            <div class="container pt-4 ">
                {% include 'base/base_footer2.html' %}
            </div>
        </div>
    </footer>
{% endblock %}