{% extends "task.html" %}

{% block page_content %}
<div class="container mt-5">
    <form action="{{ url_for('answer') }}" method="post" id="myForm1">
        <div class="input-group mb-3">
            <input type="text" name="answer2" class="form-control" placeholder="因为困难多壮志" aria-label="Recipient's username" id="inputText">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" style="width: 6rem;">提交</button>
        </div>
    </form>
    <div id="output"></div>
</div>
<script>
document.getElementById('myForm1').addEventListener('submit', function() {
    var input = document.getElementById('inputText');
    if (input.value.trim() === '') {
        input.value = input.placeholder;
    }
});
</script>
{% endblock %}
