{% extends "base.html" %}

{% block page_content %}
<!--输入文件-->
<div class="mb-3">
    <label for="formFileMultiple" class="form-label">Multiple files input example</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>
<!--展示图片-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <figure class="figure">
                <img src="/static/images/carousel/1.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}