{% extends "base.html" %}

{% block page_content %}
<main role="main" class="container">
    <form id="myForm">
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Submit</button>
    </form>

    <form id="fileForm">
        <input type="file" name="file" id="file">
        <button type="submit">Upload</button>
    </form>
    <div>
        <progress id="uploadProgress" value="0" max="100"></progress>
    </div>
</main>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: '/work/submit_form',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    })
</script>
<script>
    $(document).ready(function () {
        $('#fileForm').on('submit', function (e) {
            e.preventDefault();

            var formData = new FormData();
            formData.append('file', $('#file')[0].files[0]);

            $.ajax({
                url: '/work/upload_file',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,

                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            $('#uploadProgress').val(percentComplete);
                        }
                    }, false);
                    return xhr;
                },

                success: function (response) {
                    console.log(response);
                    $('#uploadProgress').val(100); // Ensure the progress bar shows 100% at the end.
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
{% endblock %}