{% extends "base/base.html" %}

{% block Main %}
    <div class="container">
        <br><br>
        <!--任务表格-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">任务类型</th>
                <th scope="col">成功</th>
                <th scope="col">进行中</th>
                <th scope="col">失败</th>
            </tr>
            </thead>
            <tbody>
            {% for task in task_info %}
                <tr>
                    <th scope="row">{{ task.task_type }}</th>
                    <td>{{ task.success_count }}</td>
                    <td>{{ task.in_progress_count }}</td>
                    <td>{{ task.failure_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        <!--任务类别1-->
        <div class="dropdown-divider"></div>
        <div class="row mt-5">
            {% for task_type in task_info %}
                <div class="col-12">
                    <h2 class="text">{{ task_type.task_type }}任务</h2>
                </div>
                {% for task in tasks_info %}
                    {% if task.task_type == task_type.task_type %}
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ url_for('static', path='/images/svg/inspiration.svg') }}"
                                     class="card-img-top"
                                     alt="..."
                                     style="height: 100px; object-fit: cover;"> <!-- 调整图片高度和对象填充方式 -->
                                <div class="card-body" style="padding: 10px;"> <!-- 减少内部填充 -->
                                    <h4 class="card-title"
                                        style="font-size: 1rem;">{{ task.task_status }}:{{ task.task_name }}</h4>
                                    <!-- 调整标题字体大小 -->
                                    <p class="card-text" style="font-size: 0.8rem;"> <!-- 调整正文字体大小 -->
                                        任务ID: {{ task.task_id }}<br>
                                        任务状态: {{ task.task_status }}<br>
                                        开始时间: {{ task.start_time }}<br>
                                        最后修改时间: {{ task.last_modify_time }}<br>
                                        备注: {{ task.remark }}
                                    </p>
                                    <a href="#" class="btn btn-primary btn-sm">重跑</a>
                                    <a href="#" class="btn btn-primary btn-sm">删除</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block footer %}
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 ">
            <div class="container pt-4 ">
                {% include 'base/base_footer2.html' %}
            </div>
        </div>
    </footer>
{% endblock %}