<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <!-- 侧边栏切换按钮 -->
        <!--        <button type="button" id="sidebarCollapse" class="btn btn-secondary">-->
        <!--            <i class="fas fa-align-left"></i>-->
        <!--            <span>Toggle Sidebar</span>-->
        <!--        </button>-->

        <!-- 移动端导航栏切换按钮 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        <div class="container">
            <!-- 导航栏链接 -->
            <div class="row text-center">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto" style="font-size: 1.25rem;">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">首页</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'crawl_url' else '' }}">
                            <a class="nav-link" href="/task/crawl_url">网页爬取</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'deal_images' else '' }}">
                            <a class="nav-link" href="/task/deal_images">图片处理</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'make_pay' else '' }}">
                            <a class="nav-link" href="/task/make_pay">支付功能</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'FAQ' else '' }}">
                            <a class="nav-link" href="/task/FAQ">常见问题</a>
                            <!-- frequently asked questions-->
                        </li>
                        <li class="nav-item dropdown {{ 'active' if active_page == 'FAQ' else '' }}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                下拉框
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">问题分类1</a>
                                <div class="dropdown-submenu">
                                    <a class="dropdown-item" href="/faq/category1/item1">问题1</a>
                                    <a class="dropdown-item" href="/faq/category1/item2">问题2</a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item dropdown-toggle" href="#">问题分类2</a>
                                <div class="dropdown-submenu">
                                    <a class="dropdown-item" href="/faq/category2/item1">问题3</a>
                                    <a class="dropdown-item" href="/faq/category2/item2">问题4</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'about_us' else '' }}">
                            <a class="nav-link" href="/task/about_us">关于我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
