<section class="slice py-7">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="{{ url_for('static', path='/images/illustrations/illustration-3.svg') }}"
                         class="img-fluid mw-md-120">
                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    尝试最新的<strong class="text-primary">AI工具</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left text-muted">
                    开启语音克隆,网站爬取,视频转码,音频转文字,文字转音频之旅
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="/Pages/Crawl" class="btn btn-primary btn-icon">
                        <span class="btn-inner--text">开始尝试</span>
                        <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                    </a>
                    <a href="https://zhuangzi.5000yan.com/xiaoyaoyou/"
                       class="btn btn-neutral btn-icon d-none d-lg-inline-block" target="_blank">蜩与学鸠笑之曰:</a>
                </div>
            </div>
        </div>
    </div>
</section>
