<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img alt="Image placeholder" src="{{ url_for('static', path='/images/avatar3-min.svg') }}" id="navbar-logo">
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">首页</a>
                    <div class="dropdown-menu dropdown-menu">
                        <a href="/" class="dropdown-item">前往主页</a>
                        <a href="/Pages/About" class="dropdown-item">关于我们</a>
                        <a href="/Pages/Faq" class="dropdown-item">常见问题</a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">功能</a>
                    <div class="dropdown-menu dropdown-menu-single">
                        <a href="/Pages/Crawl" class="dropdown-item">网页爬取</a>
                        <div class="dropdown-divider"></div>
                        <a href="/Pages/Image" class="dropdown-item">图片功能</a>
                        <a href="/Pages/Audio" class="dropdown-item">音频功能</a>
                        <a href="/Pages/Video" class="dropdown-item">视频功能</a>
                        <div class="dropdown-divider"></div>
                        <a href="/Pages/Task" class="dropdown-item">任务进度</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Docs">文档</a>
                </li>
            </ul>
            <!-- Button 注册/登录 -->
            <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="/auth/login">
                登录/注册
            </a>
            <!-- Mobile button -->
            <div class="d-lg-none text-center">
                <a href="/auth/login" class="btn btn-block btn-sm btn-warning">登录查看更多细节</a>
            </div>
        </div>
    </div>
</nav>