<div class="row align-items-center justify-content-md-between pb-4">
    <div class="col-md-6">
        <div class="copyright text-sm font-weight-bold text-center text-md-left">
            &copy; 2024 <a href="/" class="font-weight-bold">siscon</a>. All Rights Reserved. 备案号：闽ICP备15012807号-1
        </div>
    </div>
    <div class="col-md-6">
        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" href="/Docs/fyi">
                    条款
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Docs/fyi">
                    隐私
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Docs/fyi">
                    Cookies
                </a>
            </li>
        </ul>
    </div>
</div>