{% extends "base.html" %}

{% block page_content %}
<div class="container mt-4">
    <div class="row text-center">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">选项</h5>
                    <p class="card-text">这里是选项的相关内容描述。</p>
                    <a href="/task/answer" class="btn btn-primary">访问</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">选项2</h5>
                    <p class="card-text">这里是选项2的相关内容描述。</p>
                    <a href="/task/twoforms" class="btn btn-primary">访问</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">选项3</h5>
                    <p class="card-text">这里是选项3的相关内容描述。</p>
                    <a href="/task/accordion" class="btn btn-primary">访问</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

