{% extends "base.html" %}

{% block page_content %}
<div class="container mt-4">
    <div class="row text-center">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">网页爬取</h5>
                    <p class="card-text">接收输入,输出爬取的url的网页内容。</p>
                    <a href="/task/crawl_url" class="btn btn-primary">前往</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">图片处理</h5>
                    <p class="card-text">上传图片,进行图片格式裁剪等。</p>
                    <a href="/task/deal_images" class="btn btn-primary">前往</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">支付功能</h5>
                    <p class="card-text">支付功能</p>
                    <a href="/task/make_pay" class="btn btn-primary">前往</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

